<main class="flex flex-col justify-center items-center py-6 h-screen overflow-y-auto" style="min-height: 600px;">
  <div style="max-width: 800px; width: 90%; height: 100%;" class="py-20">
    <accordion [collapsing]="false">
      <accordion-item title="Super simple Accordion" [expanded]="true">
        <ng-template accordionContent>
          <div class="p-4">
            A simple and customizable accordion component made with functionalities provided by angular without having
            to use any 3rd party libraries. Ideal when you want custom basic accordion.
          </div>
        </ng-template>
      </accordion-item>
    </accordion>

    <h3>Hola mundo</h3>
    <accordion [collapsing]="false">
      <accordion-item title="Super simple Accordion" [expanded]="true">
        <ng-template accordionContent="">DOA</ng-template>
        
      </accordion-item>
    </accordion>
  </div>
</main>
      <!-- <accordion-item>
        <ng-template accordionHeader let-toggle="toggle">
          <div class="flex items-center justify-between px-4 h-12 bg-purple-200">
            <p>Custom Header <span class="text-xs text-gray-700">(with custom toggle button)</span></p>
            <div class="flex space-x-2">
              <button (click)="toggle()">Toggle</button>
            </div>
          </div>
        </ng-template>
        <ng-template accordionContent>
          <div class="p-4">
            This is a <strong>complete custom header</strong> implementation. The whole header section can be customized
            to you liking. Toggle method will be exposed which can be used to open/close the section.
          </div>
        </ng-template>
      </accordion-item> -->
      <!-- <accordion-item [expanded]="true">
        <ng-template accordionTitle>
          <div class="flex space-x-2">
            <p>Custom Title</p>
          </div>
        </ng-template>
        <ng-template accordionContent>
          <div class="p-4">
            This is a simple implementation where the
            <strong>title part is custom</strong>. The header design and the button remains the same. This is best when
            you have to make small changes to title.
          </div>
        </ng-template>
      </accordion-item> -->
      <!-- <accordion-item title="Disabled" [disabled]="true">
        <ng-template accordionContent>
          Test 3
        </ng-template>
      </accordion-item> -->

    <!-- Accordion End -->
    <!-- <div class="mt-10">
      <p>
        Mode:
        <strong>{{collapsing ? 'Collapsing Mode':'Open Multiple Mode'}}</strong>
      </p>
      <p>
        In collapsing mode, only one section can be open at once. While toggling previous one would become hidden
      </p>
      <button class="mt-4" (click)="collapsing = !collapsing">
        Change Mode
      </button>
    </div> -->